{
	"shoot_interval_minutes": 1,
	"image_width": 1600,
	"image_height": 1200,
	"camera_params": {
		"--timeout": 1,
		"--brightness": 50,
		"--quality": 90,
		"--hflip": null
	},
	"storages": [
		{
			"type": "local",
			"path": "/path/to/local/dir"
		},
		{
			"type": "smtp",
			"path": "recipient1@email1.com,recipient2@email2.com",
			"key": "sender-address@gmail.com",
			"secret": "smtp.gmail.com:587",
			"token": "sender-password1234"
		},
		{
			"type": "dropbox",
			"path": "/path/in/dropbox",
			"key": "__app_key__",
			"secret": "__app_secret__",
			"token": "__app_token__"
		}
	],
	"is_verbose": false
}
